$dinamic-black: #010203;

@mixin border-radius($radius, $args) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

.results {
  height: 900px;
  .text-container {
    max-width: 80%;
    margin: auto;
    h3 {
      max-width: 60%;
    }
  }
  .navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
      cursor: pointer; 
      height: 20px;
      border: 1px solid $dinamic-black;
      text-align: center;
    }
    .gallery {
      max-width: 70%;
      display: flex; 
      .image {
        max-width: 150px;
        max-height: 200px;
        margin: 10px;
        border: 1px solid $dinamic-black;
        @include border-radius(10px, margin);
        cursor: pointer;
      }
    }
  }
}