@import '../refs/refs.scss';

#journey {
  margin: 30px;
  .card {
    margin: auto;
    display: flex;
    width: 40%;
    border: 1px solid $dinamic-black;
    @include border-radius(10px, border);
    justify-content: space-around;
    .text-container {
      width: 40%;
      .title-wrapper {
      display: flex;
      text-align: center;
        align-items: center;
      }
    }
    .image-container {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      .image {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}

