@import '../refs/refs.scss';

.footer {
  margin-top: 70px;
  height: 250px;
  background-color: $navbar-bg;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .study{
    .study-links {
      display: flex;
      flex-wrap: wrap;
      .link-container {
        padding: 10px;
        display: flex; 
        flex-basis: 40%;   
        justify-content: center;
        background-color: $card-bg;
        border: 1px solid transparent;
        @include border-radius(10px, border);
        margin: 2px;
        cursor: pointer;
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    .text-container {
      padding: 20px;
    }
    .contact-links {
      display: flex;
      flex-wrap: wrap;
      .link-container {
        padding: 10px;
        display: flex; 
        flex-basis: 80%;   
        justify-content: center;
        flex-direction: column;
        background-color: $card-bg;
        border: 1px solid transparent;
        @include border-radius(10px, border);
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}