@import '../refs/refs.scss';

#banner {
  display: flex;
  margin: 0px;
  background-color: $navbar-bg;
  .text-container {
    position: relative;
    flex: 1;
    margin-left: 4%;
  }
  .image-container {
    display: flex;
    position: relative;
    flex: 2;
    justify-content: center;
    align-items: center;
    .image {
      max-width: 300px;
      max-height: 300px;
    }
  }
  p {
    width: 60%;
    padding-bottom: 100px;
  }
  .image {
    max-width: 100px;
    max-height: 100px;  
  }
}