@import '../refs/refs.scss';

.navbar {
  overflow: hidden;
  background-color: $navbar-bg;
  display: flex;
  justify-content: flex-end; 
  a {
    color: $dinamic-black;
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
  }
  a:hover {
    background-color: $navbar-hover-bg;
  }
}